.titulo{
    height: 40px;
    text-align: center;
    padding-top: 20px;
    margin-top: 15px;
    background-color: #2a8562;
    color: white;
}

.contenido{
    height: 100%;
    text-align: center;
    padding: 10px 10px;
    margin-top: 15px;
    background-color: #852a2a;
    color: white;
}

#contenedorResultado{
    height: 100%;
    text-align: center;
    padding: 10px 10px;
    margin-top: 15px;
    background-color: #852a2a;
    color: white;
}